#data structure: WAY OF STORING DATA such that it can be accessed and worked with efficiently  
#1> conventional way of storing data: stack, queue, linked list, tree, graph  
#2> python's way of storing data: list, tuple, dictionary, set  
#Hetrogenous data structure: list, tuple, dictionary  
#lists [] ; tuple () ; dictionary {key}:{value} ; set {}  
#list: ordered, mutable, allows duplicate elements  
#tuple: ordered, immutable, allows duplicate elements,static  
#dictionary: unordered, mutable, no duplicate elements, key:value pair  
#set: unordered, mutable, no duplicate elements  

#list used by Programmers  
#tuple used by Python Internals for security  
#set used for mathematical operations & filtering  
#dictionary used for key:value pair mapping ex. Seat No. : Student Name

In [2]:
a=set()
print(type(a))

<class 'set'>

In [3]:
l=[1,2,3,4,5,6,7,8,9,10]
print(type(l))

<class 'list'>

In [4]:
#auto iteration
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
#index access
for i in range(0,len(l),1):
    print(l[i])

1
2
3
4
5
6
7
8
9
10

> '+' used for appending lists

In [6]:
l=[1,2,4]
l2= l + [5,6,7]
print(l2)

[1, 2, 4, 5, 6, 7]

> '*' multiplies the lists

In [7]:
l=[1,2,4]
l2= l*3
print(l2)

[1, 2, 4, 1, 2, 4, 1, 2, 4]

```
multiply each element by 2
```

In [11]:
l=[1,2,3,5,9]
l=[i*2 for i in l]
print(l)

[2, 4, 8, 10, 18]


>> reverse the string

In [2]:
l=[1,2,3,5,9]
l=l[::-1]
print(l)

[9, 5, 3, 2, 1]


# Slice

```
[start:end:step]
```

In [3]:
l=[1,2,3,5,9]
print(l[2:4])

[3, 5]

In [5]:
sum(l)

20

In [6]:
len(l)

5

In [7]:
max(l)

9

In [8]:
min(l)

1

In [9]:
l=[10,2,4,70,23,0,34,52]
l.sort()
print(l)

[0, 2, 4, 10, 23, 34, 52, 70]

# Multidimension list
> has 2 indexes 
  >> first primary indexing  
  >> seconary index within primary

In [10]:
m=[[1,2,3],[4,5,6],[7,8,9]]
print(m[1][2])

len(m)

6

3

In [15]:
for i in m:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

# using list comprehension

In [19]:

l=[i*10 for i in range(1,11)]
print(*l)

10 20 30 40 50 60 70 80 90 100

# Append,Extend & insert

In [ ]:
a=[]

In [38]:
a.append(int(input("enter a number: ")))

In [39]:
print(a)

[12, 2, 4, 80, 10, 8]

In [42]:
a.insert(-10,11)
print(a)

[11, 11, 11, 12, 2, 4, 80, 10, 8]

In [49]:
m=[[1,2,3],[10,20,30],[34,5,8,11]]
m2=[]
for i in m:
    for j in i:
        m2.append(j)
print(m2)

[1, 2, 3, 10, 20, 30, 34, 5, 8, 11]

In [50]:
m3=[]
for i in m:
    m3.extend(i)
print(m3)

[1, 2, 3, 10, 20, 30, 34, 5, 8, 11]

# remove,pop,clear
```
.remove(x)
 > it will remove the element passed 'x'  
 > it will pass error if element not found
```

```
.pop(y)
 > it will delete the element at the 'y' index
 > it will delete last element if 'y' is not passed
 > if incorrect index passed it will return error *stack overflow*
```

```
.clear
 > it will completely flush the list
```

In [53]:
a.remove(11)
print(a)

[12, 2, 4, 80, 10, 8]

In [54]:
a.pop()

8

In [55]:
a.clear()

# Sort, count , reverse

In [58]:
m.sort()

```
keep accepting elements from user till blank is given
add all elements in list
print sum of all elements
```

```
print all elements > average of all
```

In [68]:
a=[]
while(True):
    data=input("enter a number: ")
    if data =='':
        break
    a.append(int(data))
print(sum(a))
avg=sum(a)/len(a)
print(avg)
for i in a:
    if i>avg:
        print(i)

407
33.916666666666664
45
65
45
89
90

# Tuple
+ Once declared cant be changed  
+ but can be overwritten  
  + List within tuple is dynamic

In [69]:
t=(11,22,33,11,55)
for i in t:
    print(i)

11
22
33
11
55

In [70]:
for i in range(len(t)):
    print("@",i,"we have:",t[i])

@ 0 we have: 11
@ 1 we have: 22
@ 2 we have: 33
@ 3 we have: 11
@ 4 we have: 55

In [71]:
t=(11,22,[10,20,30])
print(t)

(11, 22, [10, 20, 30])

In [72]:
t[2].extend([100,200,300])

In [73]:
print(t)

(11, 22, [10, 20, 30, 100, 200, 300])

# SET

+ Union
+ Intersection
+ Difference

![Alt text](image.png)

```
set is auto-iterated but cant be access by index
```

In [1]:
a={1,3,5,7,9}
b={2,4,6,8,10}
print(a|b)
print(a&b)
print(a^b)
print(a-b)
print(b-a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 3, 5, 7, 9}
{2, 4, 6, 8, 10}

In [5]:
all={1,2,3,4,5,6,7,8,9,10}
dance={1,4,9}
sing={1,7,8}
backstage={1,4,6}

print("Multitalented:",*dance&sing&backstage)
print("Holiday:",*all-(dance|sing|backstage))

Multitalented: 1
Holiday: 10 2 3 5

## Set methods
+ add
+ update
+ remove
+ discard

In [6]:
s=set()
s.add(100)
s.add(200)
s.add(300)
s.add(100)

In [7]:
s

{100, 200, 300}

In [8]:
print(s)

{200, 100, 300}

```
l=[11,22,11,33,44,22,66,77,99,22,11,22,33]
print count of each unique element in sorted order
```

In [15]:
l=[11,22,11,33,44,22,66,77,99,22,11,22,33]
s=sorted(set(l))
for i in s:
    print(i,"-->",l.count(i))

11 --> 3
22 --> 4
33 --> 2
44 --> 1
66 --> 1
77 --> 1
99 --> 1

# Dictionary
+ works in Key:value pair
+ Key has to be unique 
  + values can be duplicate

```
read a number and print in words
eg. : 361 --> three six one
```

In [24]:
d={1:"One",2:"Two",3:"Three",4:"Four",5:"Five",6:"Six",7:"Seven",8:"Eight",9:"Nine",0:"Zero"}
n=int(input("enter a number: "))
print(n,"-->",end=" ")
for i in str(n):
    print(d[int(i)],end=" ")

123 --> One Two Three

```
Consider
l=[11,2,1,56,78,9,23,65,89,67,5,12,34,11,23]
create 2 lists one with greater than avg & one small/equal
```

In [28]:
l=[11,2,1,56,78,9,23,65,89,67,5,12,34,11,23]
avg=sum(l)/len(l)
print("avg:",avg)

l2=[x for x in l if x>avg]
print("above avg:",*l2)
l3=[x for x in l if x<=avg]
print("below avg:",*l3)

avg: 32.4
above avg: 56 78 65 89 67 34
below avg: 11 2 1 9 23 5 12 11 23

```
l=[11,22,33,44,55]

cycle the list and print all cycles

eg:
11,22,33,44,55
22,33,44,55,11
33,44,55,11,22
...
11,22,33,44,55
```

In [35]:
l=[11,22,33,44,55]
print(l)
y=len(l)
for i in range(y):
    x=l.pop()
    l.insert(0,x)
    print(l)

[11, 22, 33, 44, 55]
[55, 11, 22, 33, 44]
[44, 55, 11, 22, 33]
[33, 44, 55, 11, 22]
[22, 33, 44, 55, 11]
[11, 22, 33, 44, 55]

```
below is the list of emp
and the seat no. available
create an dictionary out of it
```

In [37]:
s=[1,2,3,4]
n=['bb','aa','cc','dd']
s.sort()
n.sort()

mapped=dict(zip(s,n))
print(mapped)

{1: 'aa', 2: 'bb', 3: 'cc', 4: 'dd'}

# Strings

+ we can use single,double & triple quotes for string
+ triple can go multi line

In [46]:

a=" "
for i in range(5,0,-1):
    print(a*(5-i)+"* "*i)

* * * * *
 * * * *
  * * *
   * *
    *

```
create centre of size n

n entered by user
```

In [57]:
n=int(input("enter a number: "))
a=" "
b="* "
c="$ "
for i in range(0,n,1):
    if i%2==0:
        print(a*(n-i)+b*i)
    else:
        print(a*(n-i)+c*i)

         $
        * *
       $ $ $
      * * * *
     $ $ $ $ $
    * * * * * *
   $ $ $ $ $ $ $
  * * * * * * * *
 $ $ $ $ $ $ $ $ $

In [62]:
# print A to Z using loop
for i in range(ord('A'),ord('Z')+1,1):
    print(chr(i),end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

```
Triangle of Alphabets
```

In [70]:
n=int(input("enter a number: "))
a=" "
for i in range(0,n,1):
    print(a*(n-i),end=" ")
    for k in range(ord('A'),ord('A')+i+1,1):
        print(chr(k ),end=" ")
    print()

       A
      A B
     A B C
    A B C D
   A B C D E
  A B C D E F

## Slicing

In [74]:
p="python"
for i in range(len(p)):
    print(p[:i+1])

p
py
pyt
pyth
pytho
python

```
Find vowels - a,e,i,o,u
count vowels in line
eg.
a --> 2
e --> 3
```

In [5]:
line="python is a programming language my NAME IS Omi"
line=line.lower()
vowels="aeiou"
sum=0
for i in vowels:
    print(i,"-->",line.count(i))
    sum+=line.count(i)
print("total vowels:",sum)

a --> 5
e --> 2
i --> 4
o --> 3
u --> 1
total vowels: 15

Character Count of unique characters

In [12]:
word="python is a programming language & my NAME IS Om"
sword=sorted(set(word))
# remove space and & from sword
sword.remove(" ")

for i in sword:
    print(i,"-->",word.count(i))

& --> 1
A --> 1
E --> 1
I --> 1
M --> 1
N --> 1
O --> 1
S --> 1
a --> 4
e --> 1
g --> 4
h --> 1
i --> 2
l --> 1
m --> 4
n --> 3
o --> 2
p --> 2
r --> 2
s --> 1
t --> 1
u --> 1
y --> 2

In [13]:
s="this is a string"
s=s.replace(" is "," was ")

In [14]:
print(s)

this was a string

```
count number of words in line
```

In [15]:
line="python is a programming language my NAME IS Omi"
print(len(line.split()))

9

In [18]:
lin1=line.split()
lin1=lin1[::-1]
for i in lin1:
    print(i,end=" ")
print()
print(*lin1)

Omi IS NAME my language programming a is python
Omi IS NAME my language programming a is python

```
print word count for each word in order for given line
```

In [25]:
#print word count for each word in order for given line
line="this is was this is that this case WAS in"
l1=line.split()
l2=sorted(set(l1))
for i in l2:
    print(i,"-->",l1.count(i))

WAS --> 1
case --> 1
in --> 1
is --> 2
that --> 1
this --> 3
was --> 1

```
Shopping List
menu driven
add item
remove item
print
```

> Code in ../test.py